<h2><%= @cocktail.name %></h2>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    <%= dose.description %> - <%= dose.ingredient.name %> -
    <%= link_to "Remove", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>
<%= link_to "retour au menu",  cocktails_path,class: "btn btn-primary"%>
<%= link_to "add new doses",  new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%>